*{
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
}
p{
  color:black;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  z-index: 12000;
  margin-top: -540px
}
body{
  background-color:white;
  display: grid;
  height: 100vh;
  place-items: center;
}
.main{
  width: 400px;
  height: 450px;
  background-color:rgba(235, 27, 235, 0.148);
  position: absolute;
  border: 5px solid black;
  border-radius: 12px; 
}
.main input[type='text'] {
  width: 88%;
  position: relative;
  height: 80px;
  top: 5px;
  text-align: right;
  padding: 3px 6px;
  outline: none;
  font-size: 40px;
  border: 3px solid black;
  display: flex;
  margin: auto;
  border-radius: 12px;
  color: black;
}
.btn input[type='button']{
  width:90px;
  padding: 2px;
  margin: 2px 0px;
  position: relative;
  left: 13px;
  top: 20px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  z-index: 1000;
  background-color:cyan;
  border-radius: 6px;
  color: black;
}
.btn input[type='button']:hover{
  background-color:black;
  color:rgb(214, 116, 214);
}